*{
  margin:0;
  padding:0;
  font-size: 12px;
  text-decoration: none;
  list-style: none;
}

html,body{
  width:100%;
  height:auto;
}

body {
  background:#eee !important;
}

#wrapper {
  width:100%;
  height:100%;
}

section{
  background:white;
  text-align:center;
  margin:auto;
  margin-top:50px;
  width:500px;
  border-radius: 10px;
}

hr{
  width: 90%;
  border:1px solid #eee;
  margin:auto;
}

li {
  display:flex;
  padding-left: 10px;
}

.button img{
  width:10px;
  padding:20px;
}

.title{
  margin-bottom:20px;
  font-size:16px;
}

.logo img{
  margin:70px 0 0 0;
  width:100px;
}

.account_info{
  width:100%;
  font-size: 12px;
  color:#aaa;
  text-align:left;
  padding:40px;
  box-sizing: border-box;
}

.account_info input{
  width:100%;
  height:40px;
  margin-bottom:20px;
  border-radius: 5px;
  font-size: 16px;
  padding-left:10px;
  border: 1px solid #eee;
}

.email{
  margin-bottom:20px;
}


.confirm, .cancle{
  width:200px;
  height:75px;
  margin:0 15px 30px;
  border:1px solid #eee;
  background:#ffe699;
  font-size:24px;
  color:white;
  cursor:pointer;
  border-radius: 5px;
}

.cancle{
  background:white;
  color:black;
}


footer{
  text-align: center;
  margin-top:10px;
}
