body {
  margin:0;
  padding:0;
  background:#eee !important;
}

hr{
  width: 90%;
  border:1px solid #eee;
}

a{
  text-decoration: none;
}

li {
  display:flex;
  list-style: none;
  padding-left: 10px;
}

input{
  border: 1px solid #eee;
}

h4{
  margin:10px 0;
}

footer{
  text-align: center;
  font-size: 12px;
  margin-top:30px;
}

p{
  font-size:14px;
}

#wrapper {
  background:white;
  text-align:center;
  margin:auto;
  width:400px;
  height:100%;
  border-radius: 10px;
  margin-top:50px;
  box-shadow: 0 2px 10px #ccc;
  /* box-shadow:; */
}

.button img{
  width:10px;
  padding:20px;
}

.title{
  margin-top:0;
  margin-bottom:20px;
}

.logo img{
  margin:70px 0 0 0;
  width:100px;
}

.email-check{
  width:330px;
  height:50px;
  background:#f57f20;
  border:none;
  margin:15px;
  cursor:pointer;
  font-size: 20px;
  font-weight:bold;
  color:white;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 2px 10px #ccc;
}

.email-check:hover{
  transform:translate(0,5%);
  box-shadow: 0 2px 10px #aaa;
}

.footer{
  font-size: 12px;
  padding-bottom:30px;
}
