* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  text-align: center;

}

html, body{
  width:100%;
  height:100%;
}

body{
  background: #e2e2e2;
}

#wrapper {
  width:100%;
  height:auto;
  background: #e2e2e2;
}

.head-text{
  width:900px;
  margin-left: 240px;
}

header{
  display: block;
  /* position: absolute; */
  /* top:0; */
  width:100%;
  height:50px;
  background: #fae6b1;
}

#login_btn{
  float:right;
}
#profile_wrap{
  position:absolute;
  top:50px;
  right:390px;
}

.head{
  display: block;
  margin:auto;
  max-width: 1300px;
  height:40px;
  color:white;
  padding-top:8px;
  /* margin-top: 10px; */
}

.head-manu {
  height: 30px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid  #ffd66b;
  background: white;
}

.head-manu ul{
  margin-top: 5px;
  display: flex;
  height:20px;
  max-width:800px;
  margin:auto;
}
.head-manu ul li a{
  color:#ccc;
  font-size:15px;
  padding:0 15px;

}


.head img{
  width:125px;
  float:left;
  margin-right: 15px;
}

.head h2{
  float:left;
}

.head span{
  float:right;
  margin-top: 5px;
}

.head-manu{
  clear:both;
}

.contents{
  width:100%;
  margin-top:32px;
  margin:auto;
  max-width: 1300px;
  height: auto;
  background: #e2e2e2;
}

.content-items{
  width: 1000px;
  margin: auto;
  height: 700px;
  display: flex;
}

.content-item{
  width: 1000px;
  height: 200px;
  border: 1px solid  #ccc;
  background: white;
  margin-top: 50px;
  margin-left: 100px;
}

.content-item-title{
  display: flex;
  font-size: 20px;
  margin-left: 10px;
}

.text_btn button{
  width:90px;
  height:40px;
  background: #fae6b1;
  border:1px solid #eee;
  cursor:pointer;
  margin-left: 70%;
}

.text_btn1 button{
  width:90px;
  height:40px;
  background: #fae6b1;
  border:1px solid #eee;
  cursor:pointer;
  margin-left: 70%;
  margin-top: 35px;
}

.content-item-min{
  display: flex;
  margin-left:  20px;
  margin-top: 30px;
}

.content-item-profile{
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 100%;
  font-size: 20px;
}

.content-item-profile-font-size{
  margin-top: 25px;
}

.content-item-nixname{
  margin-top: 27px;
  margin-left: 50px;
}
.content-item-nixname1{
  margin-top: 27px;
  margin-left: 80px;
}
.footer{
  width:100%;
  /* margin-top:300px; */
  /* margin-top:300px; */
  /* display: block; */
  /* position:absolute; */
  /* bottom:0;  */
  background-color: #e2e2e2;
  /* background: white; */
  font-size: 12px;
}

.list_page a{
  padding:0 10px;
}

.company{
  display: inline;
  padding: 10px;
}

.footer *{
  display:inline-block;
  vertical-align:middle;
}

.detail{
  text-align: left;
}

@media screen and (max-height:390px){
  footer{
    display:none;
  }
}
