* {
  margin:0;
  padding:0;
  text-decoration: none;
  list-style: none;
  text-align: center;

}

html, body{
  width:100%;
  height:100%;
}

body{
  background: #e2e2e2;
}

#wrapper {
  width:100%;
  height:auto;
  background: #e2e2e2;
}

.contents{
  width:100%;
  margin-top:32px;
  margin:auto;
  max-width: 1300px;
  height: auto;
  background: #e2e2e2;
}

.content-items{
  width: 1000px;
  margin: auto;
  height: 700px;
  display: flex;
}

.content-item{
  width: 1000px;
  height: 100px;
  border: 1px solid  #ccc;
  background: white;
  margin-top: 50px;
  margin-left: 100px;
}

.content-item-title{
  display: flex;
  font-size: 20px;
  margin-left: 10px;
}

.text_btn a br br{
  width:90px;
  height:40px;
  cursor:pointer;
  margin-left: 100%;
  margin-top: 70%;
}


.content-item-min{
  display: flex;
  margin-left:  20px;
  margin-top: 30px;
}

.content-item-profile{
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 100%;
  font-size: 20px;
}

.content-item-profile-font-size{
  margin-top: 25px;
}

.content-item-nixname{
  margin-top: 27px;
  margin-left: 50px;
}
.footer{
  width:100%;
  /* margin-top:300px; */
  /* margin-top:300px; */
  /* display: block; */
  /* position:absolute; */
  /* bottom:0;  */
  background-color: #e2e2e2;
  /* background: white; */
  font-size: 12px;
}

.list_page a{
  padding:0 10px;
}

.company{
  display: inline;
  padding: 10px;
}

.footer *{
  display:inline-block;
  vertical-align:middle;
}

.detail{
  text-align: left;
}

@media screen and (max-height:390px){
  footer{
    display:none;
  }
}
and (max-height:390px){
  footer{
    display:none;
  }
}
